on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:
jobs:
  build:
    name: Build Node App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
  terraform:
    name: Terraform Infrastructure
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set Azure Credentials
        run: |
          echo "ARM_SUBSCRIPTION_ID=${{ secrets.SUB_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_ID=${{ secrets.CLIENT_ID }}" >> $GITHUB_ENV
          echo "ARM_CLIENT_SECRET=${{ secrets.CLINT_SECRET }}" >> $GITHUB_ENV
          echo "ARM_TENANT_ID=${{ secrets.TENANT_ID }}" >> $GITHUB_ENV
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.7.0
      - name: Terraform Init
        run: terraform init -backend-config="resource_group_name=cicdtest" -backend-config="storage_account_name=statestorageacc" -backend-config="container_name=tfstate" -backend-config="key=terraform.tfstate"
      - name: Terraform Plan
        run: terraform plan
      - name: Terraform Apply
        run: terraform apply -auto-approve
  deploy:
    name: Deploy to Azure Web App
    runs-on: ubuntu-latest
    needs: terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS2 }}
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: hello-cicd-app
          package: .
          scm-do-build-during-deploy: true